@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;700&family=Roboto&display=swap");

* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* NAV */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

#icon-burguer {
  display: none;
}

nav {
  display: flex;
  padding: 65px 165px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

nav li:hover {
  color: rgba(36, 46, 82, 0.6);
  cursor: pointer;
}

button {
  background-color: #8b48bf;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  width: 134px;
  height: 44px;
  padding: 10px;
}

button:hover {
  background-color: rgba(139, 72, 191, 0.7);
  cursor: pointer;
}

#nav-btn {
  box-shadow: 2px 2px 4px #482663;
}

/* MAIN */

.top-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 100px 200px;
  gap: 100px;
}

#padel {
  width: 30vw;
  height: 30vw;
}

.top-title {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #232c50;
  text-align: end;
  font-size: 50px;
  gap: 30px;
  width: 40vw;
}

.top-title p {
  color: #000;
  font-size: 17px;
}

.main-cross {
  background-color: #8b48bf;
  color: #ffffff;
  display: flex;
  padding: 40px 300px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.main-cross p {
  font-size: 16px;
  width: 50%;
}

.main-cross h2 {
  font-size: 36px;
  width: 40%;
}

#cross2 {
  display: none;
}

.numbers {
  display: flex;
  padding: 50px;
  background-color: #fafafa;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.numbers article {
  width: 553px;
  margin: 30px;
}

.num-subt {
  display: flex;
  gap: 23px;
}

.numbers article h5 {
  color: #323851;
  font-size: 16px;
  margin: 15px 0;
}

.numbers article p {
  color: #b3b2b7;
  font-size: 16.298px;
  font-weight: 500;
  line-height: 156.6%;
  letter-spacing: -0.163px;
  padding-left: 90px;
}

.num {
  display: flex;
  padding: 10px 25px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background-color: #8b48bf;
  color: #ffffff;
}

.best-month {
  text-align: center;
  margin: 50px;
  margin-bottom: 200px;
}

.best-month h1 {
  color: #242e53;
  text-align: center;
  font-size: 40px;
}

.best-pj {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 100px 300px;
}

.best-pj article {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 21px;
  width: 25%;
}

.best-pj h5 {
  color: #3f4868;
  font-size: 16px;
}

.best-pj p {
  color: #b9b9c1;
  text-align: center;
  font-size: 16px;
}

/* FOOTER */

.top-footer {
  color: #fff;
  font-size: 40px;
  background-color: #8b48bf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15%;
}

.top-footer p {
  width: 30vw;
}

#footer-btn {
  background-color: #ffffff;
  color: #8b48bf;
  box-shadow: 2px 2px 4px #482663;
  margin: 50px;
}

.footer-btm {
  background-color: #1e1e26;
  color: #ffffff;
}

.footer-main {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 50px 15%;
  gap: 100px;
}

.red {
  flex-direction: column;
  width: 30%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 180px;
  height: 120px;
  justify-content: space-between;
}

.pages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  height: 200px;
  width: 40%;
  font-size: 16px;
  gap: 30px 5%;
}

form {
  display: flex;
  height: 180px;
  width: 100%;
  gap: 9px;
}

form input {
  background-color: #ffffff;
  color: #a0a0a0;
  border: none;
  border-radius: 50px;
  height: 44px;
  width: 200px;
  padding: 0 10px;
}

.form button {
  width: 63px;
}

.footer-btm p {
  color: #8c8c94;
  font-size: 12px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 15vw 2vh 0;
}

/* RESPONSIVE MOBILE */

@media (max-width: 480px) {
  nav {
    box-sizing: border-box;
    padding: 5%;
    gap: 200px;
    margin: 5%;
  }

  #icon-burguer {
    display: flex;
  }
  nav ul {
    display: none;
  }
  nav button {
    display: none;
  }

  .top-container {
    flex-direction: column;
    box-sizing: border-box;
    margin: 5%;
    padding: 0%;
  }

  .top-title {
    box-sizing: border-box;
    width: 90vw;
    padding: 10%;
    font-size: 40px;
  }

  #padel {
    width: 80vw;
    height: 80vw;
  }

  .main-cross {
    background-color: #3cddf3;
    padding: 8%;
    flex-direction: column;
    align-items: start;
    box-sizing: content-box;
  }

  .main-cross p {
    width: 100%;
  }

  .main-cross h2 {
    width: 100%;
  }

  #cross1 {
    display: none;
  }
  #cross2 {
    display: flex;
  }

  .numbers {
    background-color: #ffffff;
    padding: 5%;
    display: block;
  }

  .num-subt {
    background-color: rgba(139, 72, 191, 0.3);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 50px;
    background-size: 400px;
  }

  .numbers article p {
    padding: 0;
    padding-top: 20px;
    padding-right: 130px;
    padding-left: 15px;
  }

  .best-pj {
    margin: 0;
  }

  .best-pj article {
    padding: 40px;
    gap: 10px;
    width: 100%;
  }

  .best-month {
    margin-bottom: 10vh;
  }

  #sanyo {
    display: none;
  }
  #navarro {
    display: none;
  }

  .top-footer {
    background-color: #3cddf3;
    margin: 0;
    padding: 7%;
    font-size: 44px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 366px;
    gap: 50px;
  }

  .top-footer p {
    color: #fff;
    text-align: center;
    width: 324px;
    line-height: 119.6%;
    font-weight: 700;
    letter-spacing: -0.2px;
    height: 230px;
  }

  #footer-btn {
    color: #ffffff;
    background-color: #232c50;
    margin: 0;
  }

  .footer-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    gap: 0;
  }

  .red {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 70%;
  }

  .social {
    align-items: center;
    width: 100%;
  }

  .pages {
    gap: 2vh 20vw;
    padding: 0;
    box-sizing: border-box;
    width: 70%;
    height: 150px;
  }

  form {
    height: 50px;
    padding-left: 0%;
    width: 80vw;
    margin: 5%;
  }

  form input {
    background-color: #ffffff;
    color: #a0a0a0;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 50vw;
    padding: 0 10px;
  }

  .footer-btm p {
    justify-content: center;
    margin: 0%;
    margin-bottom: 10vh;
    position: relative;
    top: 5vh;
  }
}
